<h2 mat-dialog-title>Edit Student</h2>
<mat-dialog-content class="mat-typography">
  <form id="f_content" [formGroup]="studentData">
    
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" type="text" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Adress</mat-label>
      <input matInput formControlName="adress" type="text" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Education</mat-label>
      <input matInput formControlName="education" type="text" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>PhoneNo</mat-label>
      <input matInput formControlName="phoneNo" type="number" />
    </mat-form-field>
  </form>
  <button mat-button color="accent" (click)="editData(studentData)">Edit</button>
</mat-dialog-content>
