<div class="contain">
  <div class="aside">
    <div class="bars">
      <i>
        <i class="fa-solid fa-bars"></i>
      </i>
    </div>
    <div class="side-icons">
      <i>
        <i class="fa-solid fa-house"></i>
      </i>
      <p>Home</p>
    </div>
    <div class="side-icons">
      <i>
        <i class="fa-solid fa-bolt"></i>
      </i>
      <p>Shorts</p>
    </div>
    <div class="side-icons">
      <i>
        <mat-icon>subscriptions</mat-icon>
      </i>
      <p>Subscription</p>
    </div>
    <div class="side-icons">
      <i>
        <mat-icon>library_add</mat-icon>
      </i>
      <p>Library</p>
    </div>
  </div>
  <div class="main-containers">
    <header>
      <nav>
        <div class="logo">
          <img src="assets/youtube.png" />
        </div>
        <div class="centre-search">
          <div class="search">
            <input type="text" />
            <button>
              <mat-icon>search</mat-icon>
            </button>
          </div>
          <div class="mic">
            <i class="fa-solid fa-microphone"></i>
          </div>
        </div>

        <div class="side_nav">
          <i class="fa-regular fa-bell"></i>

          <img
            src="https://yt3.ggpht.com/yti/AHyvSCD3XVfMjLgK8FkdBRsnWd_L4UJ8WwGdJelTFg=s88-c-k-c0x00ffffff-no-rj-mo"
          />
        </div>
      </nav>
      <div class="tags">
        <div class="tag dark">All</div>
        <div class="tag light">Mixes</div>
        <div class="tag light">Scripto</div>
        <div class="tag light">Html</div>
        <div class="tag light">Javascript</div>
      </div>
    </header>
  </div>
</div>
